#Stories {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  background: #ECEDF2;
}

#Stories section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.2rem;
}

#Stories span {
  font-size: small;
  font-family: Barlow, sans-serif;
}