#Billing {
  background-color: #ECEDF2;
}

#BillingContainer {
  padding-left: 6.4rem;
  background-color: #ECEDF2;
  height: 100vh;
  font-family: Inter, sans-serif;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

#BillingLogo {
  width: 80%;
  margin: 1rem;
}

#BillingRow {
  display: flex;
  justify-content: center;

}

.BillingItems {
  text-align: center;
}

.BillingItems span {
  text-align: left;
  font-size: small;
  color: #A000FF;
}

#UsdBilling {
  width: 40%;
  background-color: #F9F9F9;
  padding: 0px 1rem;
  height: 3.5rem;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CoinsItem {
  margin-left: 2rem;
}

.CoinsItem span {
  text-align: left;
  font-size: small;
  color: #A000FF;
}

#Credits {
  display: flex;
  justify-content: center;
  margin: 2rem;
  height: 20%;
}

#AvailableCredit {
  display: flex;
  justify-content: center;
  align-items: center;
}

#AvailableCredits p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #F9F9F9;
  padding: 0px 1rem;
  height: 3.5rem;
}

#CreditsBuy {
  display: flex;
  justify-content: center;
  align-items: center;
}

#CreditsBuy a {
  margin-top: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0px 1rem;
  background-color: #A000FF;
  color: #F9F9F9;
  height: 3.5rem;
}

#CreditsBuy a {
  color: #F9F9F9;
  text-decoration: none;
}

#TransactionsBilling {
  padding: 1rem;
  font-family: Barlow, sans-serif;
}

.TransactionsRows {
  margin: 1rem;
  padding: 1rem;
  border-bottom: #373B5640 1px solid;
}

#HistoralBilling {
  background-color: #F9F9F9;
  width: 80%;
  margin-left: 6.4rem;
}

#HistoralBilling section {
  padding-top: 1rem;
  padding-left: 3rem;
}