#Billing {
  background-color: #ECEDF2;
}

#BillingContainer {
  padding-left: 6.4rem;
  background-color: #ECEDF2;
  height: 100vh;
  font-family: Inter, sans-serif;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

#BillingLogo {
  width: 80%;
  margin: 1rem;
}

#BillingRow {
  display: flex;
  justify-content: center;

}

.BillingItems {
  text-align: center;
}

#UsdBilling {
  background-color: #F9F9F9;
  width: 30%;
  padding: 1rem;
  margin: 2rem;
  height: 3.5rem;
}

#Credits {
  display: flex;
  justify-content: center;
  margin: 2rem;
  height: 20%;
}

#AvailableCredits {
  width: 30%;
  background-color: #F9F9F9;
  padding: 1rem;
  height: 3.5rem;
}

#CreditsBuy {
  width: 70%;
  padding: 1rem;
  background-color: #A000FF;
  color: #F9F9F9;
  height: 3.5rem;
}

#CreditsBuy a {
  color: #F9F9F9;
  text-decoration: none;
}

#TransactionsBilling {
  padding: 1rem;
  font-family: Barlow, sans-serif;
}

.TransactionsRows {
  margin: 1rem;
  padding: 1rem;
  border-bottom: #373B5640 1px solid;
}

#HistoralBilling {
  background-color: #F9F9F9;
  width: 80%;
  margin-left: 6.4rem;
}

#HistoralBilling section {
  padding-top: 1rem;
  padding-left: 3rem;
}