#Artist
{
    font-family: "Barlow", sans-serif;
    color: #4F5168;
    background-color: #F9F9F9;
}

.Caption
{
    text-align: left;
    bottom: 29%;
}

.Caption h1
{
    font-family: 'Boba', sans-serif;
    font-size: 80px;
    text-transform: uppercase;
}

.Caption p
{
    width: 70%;
    font-family: Helvetica, sans-serif;
}

.ImgCarrusel
{
    width: 100% !important;
}

.Benefits
{
    padding: 5rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.Benefits h1
{
    font-family: 'Matchbook', sans-serif;
    font-size: 80px;
    text-transform: uppercase;
}

#BenefitsContainer {
    width: 100%;
}

.BenefitsRow
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#Benefits
{
    padding: 1rem;
}

.Cards
{
    background-color: #272453;
    color: #ECEDF2;
    font-family: Cantarell, sans-serif;
    border-radius: 10px;
    width: 100%;
    height: 250px;
    border: none;
}

.Cards:hover
{
    cursor: pointer;
    transform: scale(1);
}

.CardsContainer
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.CardsTitle
{
    flex-basis: 30%;
    font-family: Matchbook, sans-serif;
    font-size: 40px;
    align-self: flex-start;
}

.CardsTxt
{
    font-family: Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 600;
    flex-basis: 70%;
    background-color: #F9F9F9;
    padding: 0.5rem;
    border-radius: 10px;
    color: #000;
}

.benefitsArtistBottom
{
    display: flex;
    align-items: center;
    background-color: #272453;
    padding: 40px 0;
    position: relative;
    color: #ECEDF2;
    z-index: 1;
}

.benefitsArtistBottomBack
{
    position: absolute;
    left: -85px;
    right: -80px;
    height: 100%;
    background-color: #272453;
    z-index: -1;
}

.benefitsArtistBottom h1
{
    font-family: 'Boba', sans-serif;
    font-size: 70px;
    text-transform: uppercase;
    color: #ECEDF2;
}

.benefitsArtistBottom p
{
    font-family: Helvetica, sans-serif;
    color: #ECEDF2;
}

.benefitsArtistBottom a
{
    text-decoration: none;
}

.benefitsArtistBottomText
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#Sesions {
    display: flex;
    justify-content: center;
    align-items: center;
}

#ImgHero {
    width: 100%;
}

#Services
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    padding: 5rem 0;
    margin-bottom: 10rem;
}

#Services h1
{
    font-family: 'Matchbook', sans-serif;
    font-size: 80px;
    text-transform: uppercase;
}

.ServiceRow
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ServiceCards
{
    font-family: Inter, sans-serif;
    background-color: #ECEDF2;
    border: none;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ServiceCardBody
{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ServCardTxt
{
    font-family: Matchbook,sans-serif;
    font-size: 40px;
    color: #000;
}

.ServiceCardsImg
{
    flex-basis: 50%;
    height: 100%;
}

.ServiceCardsText
{
    font-size: 14px;
    font-weight: 500;
}

.singUpBtn
{
    all: unset;
    background-color: #C62FBE;
    color: #ECEDF2;
    border-radius: 5px;
    padding: 10px 2rem;
    margin-top: 15px;
    font-family: Helvetica, sans-serif;
}

.singUpBtn:hover
{
    background-color: #ECEDF2;
    color: #A000FF;
}

@media (min-width: 300px) and (max-width: 550px)
{
    #Artist {
        width: 100%;
    }

    #Services
    {
        padding: 2rem;
    }

    .Carousel
    {
        width: 100%;
        height: 27rem;
        bottom: 10%;
    }

    .Carousel h1 {
        font-size: 40px;
    }

    .Carousel p {
        width: 100%;
        font-size: small;
    }

    .ImgCarrusel
    {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .Caption {
        text-align: left;
        bottom: 15px;
        font-size: small;
        font-family: Cantarell, sans-serif;
    }

    .singUpBtn {
        all: unset;
        background-color: #C62FBE;
        color: #ECEDF2;
        border-radius: 5px;
        padding: 10px 2rem;
        margin-top: 15px;
        font-family: Helvetica, sans-serif;
    }

    .ImgContainer
    {
        display: none;
    }

    .heroMiddle
    {
        width: 100%;
        background-color: #272453;
    }

    .heroMiddleCont,
    .ImgBottomCont
    {
        display: none;
    }

    .BenefitsRow
    {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .benefitsArtistBottom
    {
        background-color: #272453;
        padding: 20px;
        display: block;
    }

    .benefitsArtistBottomBack
    {
        display: block;
        margin-top: -20px;
    }

    .benefitsArtistBottomText
    {
        width: 90%;
    }

    .benefitsArtistBottom img
    {
        margin-top: 30px;
        width: 100%;
    }

    .ServiceRow
    {
        display: flex;
        flex-direction: column;
        gap: 150px;
    }

    .ServiceCards
    {
        justify-content: flex-start;
        font-family: Helvetica,sans-serif;
    }
}