#Company
{
    margin: 0;
}

.singUpBtn
{
    all: unset;
    background-color: #C62FBE;
    color: #ECEDF2;
    border-radius: 5px;
    padding: 10px 2rem;
    margin-top: 15px;
    font-family: Helvetica, sans-serif;
}

.singUpBtn:hover
{
    background-color: #ECEDF2;
    color: #A000FF;
}

.Caption
{
    text-align: left;
    bottom: 29%;
}

.Caption h1
{
    font-family: 'Boba', sans-serif;
    font-size: 80px;
    text-transform: uppercase;
}

.Caption p
{
    width: 70%;
    font-family: Helvetica, sans-serif;
}

.ImgCarrusel
{
    width: 100% !important;
}

.Benefits
{
    padding: 5rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#Benefits h1
{
    font-family: 'Matchbook', sans-serif;
    font-size: 80px;
    text-transform: uppercase;
}

#BenefitsContainer {
    width: 100%;
}

.BenefitsRow {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Cards {
    background-color: #272453;
    color: #ECEDF2;
    font-family: Cantarell, sans-serif;
    border-radius: 10px;
    width: 100%;
    height: 250px;
    border: none;
}

.Cards:hover {
    cursor: pointer;
    transform: scale(1);
}

.CardsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.CardsTitle {
    flex-basis: 30%;
    font-family: Matchbook, sans-serif;
    font-size: 40px;
    align-self: flex-start;
}

.CardsTxt {
    font-family: Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 600;
    flex-basis: 70%;
    background-color: #F9F9F9;
    padding: 0.5rem;
    border-radius: 10px;
    color: #000;
}

.benefitsCompanyBottom
{
    display: flex;
    align-items: center;
    background-color: #272453;
    padding: 40px 0;
    position: relative;
    color: #ECEDF2;
    z-index: 1;
}

.benefitsCompanyBottomBack
{
    position: absolute;
    left: -85px;
    right: -80px;
    height: 100%;
    background-color: #272453;
    z-index: -1;
}

.benefitsCompanyBottom h1
{
    font-family: 'Boba', sans-serif;
    font-size: 70px;
    text-transform: uppercase;
    color: #ECEDF2;
}

.benefitsCompanyBottom p
{
    font-family: Helvetica, sans-serif;
    color: #ECEDF2;
}

.benefitsCompanyBottom a
{
    text-decoration: none;
}

.benefitsCompanyBottomText
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#Sesions {
    display: flex;
    justify-content: center;
    align-items: center;
}

#ImgHero {
    width: 100%;
}

#Services
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    padding: 5rem 0;
}

#Services h1
{
    font-family: 'Matchbook', sans-serif;
    font-size: 80px;
    text-transform: uppercase;
}

.TopServiceRow
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.TopServiceRow img
{
    height: 400px;
    object-fit: cover;
    width: 100%;
}

.TopServiceRowCol
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}

.TopServiceRowCard
{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

.ServiceCardsTop
{
    font-family: Inter, sans-serif;
    background-color: #ECEDF2;
    border: none;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.ServiceCardTopBody
{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.TopServiceRowCol button
{
    align-self: flex-end;
    background-color: #3A2FAC;
    color: #ECEDF2;
    border-radius: 5px;
    font-family: Helvetica, sans-serif;
    border: none;
    padding: 10px 2rem;
}

.ServiceRow
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ServiceCards
{
    font-family: Inter, sans-serif;
    background-color: #ECEDF2;
    border: none;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ServiceCardBody
{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ServCardTxt
{
    font-family: Matchbook,sans-serif;
    font-size: 40px;
    color: #000;
}

.ServiceCardsImg
{
    flex-basis: 50%;
    height: 100%;
}

.ServiceCardsText
{
    font-size: 14px;
    font-weight: 500;
}

.ServiceRowBottom
{
    margin-top: 130px;
    display: flex;
    width: 20%;
    align-self: flex-end;
    align-items: flex-end;
    justify-content: space-between;
}

.ServiceRowBottom button
{
    width: 100%;
    align-self: flex-end;
    background-color: #3A2FAC;
    color: #ECEDF2;
    border-radius: 5px;
    font-family: Helvetica, sans-serif;
    border: none;
    padding: 10px 2rem;
}

.BuyService {
    margin: 1rem;
    margin-top: 4rem;
    display: flex;
    justify-content: flex-end;
}

.BuyButton {
    all: unset;
    background-color: #4F5168;
    box-shadow: none;
    color: #FFFFFF;
    border-radius: 15px;
    padding: 10px;
    font-family: Barlow, sans-serif;
}

.ImgCarrusel {
    width: 100% !important;
}

.Calendar
{
    width: 100%;
    display: flex;
    position: relative;
    height: 450px;
    align-items: center;
}

#CalendarImg
{
    position: absolute;
    left: -100px;
    right: -100px;
    height: 100%;
    width: 1500px;
}

.Calendar button
{
    width: 400px;
    background-color: #3A2FAC;
    color: #ECEDF2;
    border-radius: 5px;
    font-family: Helvetica, sans-serif;
    border: none;
    margin-top: 20px;
    padding: 10px 2rem;
}

.CalendarContainer
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.CalendarCardContainer
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.CalendarCard
{
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    width: 400px;
    height: 280px;
    align-items: center;
    padding: 2rem;
    border-radius: 10px;
}

.CalendarCard h1,
.CalendarCardCont h3
{
    font-family: Matchbook, sans-serif;
    font-size: 50px;
    margin: 0;
    text-transform: uppercase;
}

.CalendarCardCont h1
{
    font-family: Helvetica, sans-serif;
}

.CalendarCardCont
{
    width: 170px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #272453;
    border-radius: 10px;
    color: #FFF;
}

@media (min-width: 300px) and (max-width: 550px) {
    #Company {
        width: 100%;
    }

    #Services
    {
        padding: 2rem;
    }

    .Carousel
    {
        width: 100%;
        height: 27rem;
        bottom: 10%;
    }

    .Carousel h1 {
        font-size: 40px;
    }

    .Carousel p {
        width: 100%;
        font-size: small;
    }

    .ImgCarrusel
    {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .Caption {
        text-align: left;
        bottom: 15px;
        font-size: small;
        font-family: Cantarell, sans-serif;
    }

    .singUpBtn {
        all: unset;
        background-color: #C62FBE;
        color: #ECEDF2;
        border-radius: 5px;
        padding: 10px 2rem;
        margin-top: 15px;
        font-family: Helvetica, sans-serif;
    }

    .ImgContainer
    {
        display: none;
    }

    .heroMiddle
    {
        width: 100%;
        background-color: #272453;
    }

    .heroMiddleCont,
    .ImgBottomCont
    {
        display: none;
    }

    .BenefitsRow
    {
        display: flex;
        width: auto;
        flex-direction: column;
        gap: 20px;
    }

    .benefitsCompanyBottom
    {
        background-color: #272453;
        padding: 20px;
        display: block;
    }

    .benefitsCompanyBottomBack
    {
        display: block;
        margin-top: -20px;
    }

    .benefitsCompanyBottomText
    {
        width: 90%;
    }

    .benefitsCompanyBottom img
    {
        margin-top: 30px;
        width: 100%;
    }

    .topImg
    {
        display: none;
    }

    .ServiceRow
    {
        display: flex;
        flex-direction: column;
        gap: 130px;
    }

    .ServiceCards
    {
        justify-content: flex-start;
        font-family: Helvetica,sans-serif;
    }

    .ServiceRowBottom
    {
        width: 70%;
    }

    .Calendar
    {
        display: flex;
        height: 750px;
        align-items: center;
        flex-direction: column;
        padding: 20px 10px;
        background-color: #000;
    }

    #CalendarImg
    {
        position: absolute;
        object-fit: cover;
        top: 0;
    }

    .CalendarContainer
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding: 20px 10px;
    }

    .CalendarCard
    {
        width: 350px;
        height: 250px;
    }

    .CalendarCardContainer button
    {
        width: 350px;
    }

    .CalendarCard h1
    {
        font-size: 45px;
    }
}