#Home {
  margin-top: 4rem;
  font-family: "Barlow", sans-serif;
  color: #4F5168;
  background-color: #F9F9F9;
}

.singUpBtn {
  all: unset;
  background-color: #A000FF;
  color: #ECEDF2;
  border-radius: 5px;
  padding: 5px 1rem;
  font-family: 'Inter', sans-serif;

}

.singUpBtn:hover {
  background-color: #ECEDF2;
  color: #A000FF;
}

.Caption {
  text-align: left;
  bottom: 30%;
  font-family: Cantarell, sans-serif;
}

.Hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.Hero a {
  text-decoration: none;
}

.ImgCarrusel {
  width: 100% !important;
}

@media (min-width: 300px) and (max-width: 550px) {
  #Home {
    margin-top: 25%;
  }

  .Carousel {
    height: 10rem;
    bottom: 10%;
  }

  .Carousel h1 {
    font-size: medium;
  }

  .Carousel p {
    font-size: small;
  }

  .ImgCarrusel {
    width: 100% !important;
    height: 100vh !important;
  }

  .Caption {
    text-align: left;
    bottom: 15px;
    font-size: small;
    font-family: Cantarell, sans-serif;
  }

  .singUpBtn {
    all: unset;
    background-color: #A000FF;
    color: #ECEDF2;
    border-radius: 5px;
    padding: 2.5px 0.5rem;
    font-family: 'Inter', sans-serif;
  }
}

#ImgHero {
  width: 100%;
}

#ImgBe {
  width: 20rem;
}

#ImgUs {
  width: 100%;
}