.Header {
  background-color: #373B56;
}

.NavButtons {
  background-color: #ECEDF2;
  border-radius: 5px;
  color: #373B56;
  margin: 10px;
}

.NavButtons:hover {
  cursor: pointer;
  background-color: #A000FF;
  color: #ECEDF2;
}

.ModalContainer {
  width: 10rem;
}

#ModalTitle {
  margin: 1rem;
}

.Modal {
  background-color: #F9F9F9;
  border: none;
  text-align: center;
}

.ModalBody {
  background-color: #F9F9F9;
  text-align: center;
  border-radius: 20px;
}

.ModalInput {
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: #F9F9F9;
}

.ModalButton {
  background-color: #A000FF;
  color: #ECEDF2;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: none;
}

.FormGroup {
  display: flex;
}

.FormGroupInput {
  background-color: #F9F9F9;
}

.ModalButton:hover {
  background-color: #ECEDF2;
  color: #A000FF;
}

#ModalFooter {
  display: flex;
  justify-content: space-evenly;
}

.icons {
  width: 50px;
}

.icons:hover {
  cursor: pointer;
}