#Footer {
  background: #373B56;
  color: #F9F9F9;
}

#Brand {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#Brand img {
  width: 80%;
}

.NavItem {
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #F9F9F9;
  font-family: Inter, sans-serif;
  font-size: small;
}

.NavLink {
  color: #ECEDF2;
  font-family: Inter-Light, sans-serif;
  font-size: small;
}

.Dropdown {
  all: none;
  border: none;
  color: #ECEDF2;
  background-color: #373B56;
}

.Icons {
  width: 50%;
}

#Terms {
  margin-top: 4.5rem;
  background-color: #ECEDF2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#TermsContainer {
  margin: 1rem;
  background-color: #F9F9F9;
  padding: 0%;
}

#TermsHeader {
  background: linear-gradient(180deg, #A000FF 0%, #373B56 100%);
  color: #F9F9F9;
  margin: 0%;
  width: 100%;
  padding: 1rem;
  font-family: Barlow, sans-serif;
}

.TermsContent {
  font-family: Barlow, sans-serif;
  padding: 1rem;
}

.TermsNav {
  cursor: pointer;
  height: 100%;
  border-right: 1px solid #ECEDF2;
  padding-right: 0.5rem;
  font-family: Barlow-Medium, sans-serif;
}

.TermsTxt h6 {
  font-family: Barlow-Medium, sans-serif;
}

.TermsTxt p {
  margin: 1rem;
  font-family: Barlow, sans-serif;
}

@media (min-width:350px) and (max-width: 550px) {
  #Brand {
    width: 100px;
  }

  .NavItem {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}