#ArtistApp {
  display: flex;
}

#ViewArtistCol {
  display: flex;
  flex-direction: column;
}

#ViewArtistContent {
  color: #373B56;
  margin-left: 6.4rem;
  background-color: #ECEDF2;
}

.SuggetionsBar {
  margin: 0px;
  padding: 0px;
  background-color: #ECEDF2
}

.ArtistBanner {
  width: 100%;
}

.ArtistPhoto {
  width: 20%;
  margin-top: -10%;
  margin-left: 8%;
}

.UserData {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#LocationTxt {
  font-family: Barlow, sans-serif;
  color: #373B5640;
}

#Location {
  width: 30px;
}

#BtnOptions {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#Block {
  width: 10%;
  height: 10%;
}

#msgBtn {
  color: #373B56;
  padding: 5px 15px;
  border-radius: 10px;
  border: #373B56 solid 1px;
}

#subBtn {
  font-family: Barlow, sans-serif;
  background-color: #A000FF;
  padding: 5px 15px;
  color: #ECEDF2;
  border-radius: 10px;
  box-shadow: 0px 4px 10px 0px #A000FF4F;
}

#subBtn:hover {
  cursor: pointer;
}

.porfilUser {
  font-family: Barlow, sans-serif;
  color: #373B56;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1rem;
}

#Review {
  color: #373B5640;
}

.Nums {
  color: #373B56;
}

#Subs {
  color: #373B5640;
  padding-right: 0.5rem;
  border-right: 1px solid #373B5640;
  margin-right: 0.5rem;
}

#Rev {
  color: #373B5640;
  padding-right: 0.5rem;
  border-right: 1px solid #373B5640;
  margin-right: 0.5rem;
}

#atSign {
  color: #373B5640;
}

#Navies {
  display: flex;
  justify-content: space-evenly;
  border-bottom: #373B5640 1px solid;
}

#Navies a {
  color: #373B56;
  font-family: Barlow, sans-serif;
}

#RoomBtn {
  color: #A000FF !important;
}

.serviceRoomME {
  display: flex;
  margin-right: 2rem;
  justify-content: space-between;
}

.serviceRoomMEItem {
  background: #F9F9F9;
  padding: 1rem;
  border-radius: 10px;
  color: #373B56;
}

.serviceRoomMEItem p {
  color: #373B5626;
}

.serviceRoomME2 {
  display: flex;
  margin-right: 2rem;
  margin-top: 1rem;
  justify-content: space-between;
}

.serviceRoomMESubItem {
  width: 230px;
  padding: 1rem;
  border-radius: 10px;
  background-color: #F9F9F9;
}

.serviceRoomMESubItem p {
  color: #373B5626;
}

.calendario {
  margin: 1rem;
  width: 300px;
  height: 280px;
  text-align: center;
  font-family: Inter;
  color: #373B56;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.encabezado {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

#Select {
  border: none;
  color: #373B56;
  background-color: #f9f9f9;
}

.diasYSemana {
  display: flex;
  color: #373B56B2;
  justify-content: space-evenly;
  background-color: #f9f9f9;
}

.dias {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  padding: 10px;
}

#Dates {
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: #f9f9f9;
}

#Dates div {
  padding: 0.5rem;
  color: #373B56;
  border-bottom: 1px solid #373B5626;
}

#Dates span {
  color: #A000FF;
}

#Locations {
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: #f9f9f9;
}

#Locations article {
  display: flex;
  justify-content: space-around;
}

#Locations span {
  color: #A000FF;
}

#LocationData1 {
  border-right: 1px solid #373B5626;
}

#LocationData1 div {
  display: flex;
  justify-content: center;
}

#LocationData1 svg,
p {
  margin: 5px
}

#LocationData2 div {
  display: flex;
  justify-content: center;
}

#LocationData2 svg,
p {
  margin: 5px
}

#AddAction {
  display: flex;
  align-items: center;
  justify-content: end;
}

#AddAction svg,
p {
  margin: 5px
}