#HomeApp {
  display: flex;
}

#SideBar {
  background-color: #F9F9F9;
  height: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#SideBarIcons {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.SideBarItem {
  width: 50px;
  margin: 10px;
}

#ContentHomeApp {
  margin-left: 6.4rem;
  background: #ECEDF2;
}

#Feed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#LogoSide {
  width: 30%;
}

.Post {
  margin: 1rem;
  width: 90%;
  background-color: #F9F9F9;
  border-radius: 10px;
}

.porfile {
  margin: 1rem;
  display: flex;
  align-items: center;
  font-family: "Barlow", sans-serif;
}

.userPhoto {
  width: 50px;
  margin: 1%;
}


.userData {
  display: flex;
  flex-direction: column;
  color: #373B56;
}

.userNick {
  font-family: "Barlow Medium";
  color: #373B56;
}

.PostImg {
  width: 40rem;
}

.PostContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.PostReaction {
  width: 87%;
}

.iconsReaction {
  width: 25px;
  margin: 1rem;
}

.postDescription {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

}

.postTxt {
  margin-top: 1rem;
}

.postViewMore {
  color: #373B56B2;
}

.postViewMore:hover {
  cursor: pointer;
}

#Suggetions {
  border-left: 1px solid #373B5640;
  padding-left: 2rem;
}