.ModalContainer {
  width: 10rem;
}

#ModalTitle {
  margin: 1rem;
}

.Modal {
  background-color: #F9F9F9;
  border: none;
  text-align: center;
}

.ModalBody {
  background-color: #F9F9F9;
  text-align: center;
}

.ModalInput {
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #F9F9F9;
}

.ModalButton {
  background-color: #A000FF;
  color: #ECEDF2;
  width: 100%;
  border: none;
}

.ModalButton:hover {
  background-color: #ECEDF2;
  color: #A000FF;
}

#ModalFooter {
  display: flex;
  justify-content: space-evenly;
}

.icons {
  width: 50px;
}

.icons:hover {
  cursor: pointer;
}