.porfile {
  margin: 1rem;
  display: flex;
  align-items: center;
  font-family: "Barlow", sans-serif;
}

.subsData {
  font-family: "Barlow", sans-serif;
  padding: 0.5rem 1rem;
}

.subsData span {
  color: #373B56B2;
  text-align: center;
}

.subsData p {
  color: #373B56;
}

#subBtnData {
  font-family: Inter, sans-serif;
  font-size: small;
  text-align: center;
  background-color: #A000FF;
  padding: 5px 15px;
  color: #ECEDF2;
  width: 250px;
  border-radius: 10px;
  margin: 0.5rem;
  box-shadow: 0px 4px 10px 0px #A000FF4F;
}

#subBtnData:hover {
  cursor: pointer;
}

#buySubsModal {
  width: 650px;
  border-radius: 10px;
  border: none;
}

#buySubsModalBody {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#buySubsModal h3 {
  margin: 1rem;
  border: none;
}

.buySubsModalHeader {
  border: none;
}

.buySubsModalFooter {
  border: none;
  display: flex;
  justify-content: space-between;
}

.buySubsModalFooter p {
  color: #A000FF;
  cursor: pointer;
}

.buyPackModal {
  width: 407px;
  height: 263px;
  border-radius: 10px;
  border: none;
}

.userPhoto {
  width: 50px;
  margin: 1%;
}


.userData {
  display: flex;
  flex-direction: column;
  color: #373B56;
}

.userNick {
  font-family: "Barlow Medium", sans-serif;
  color: #373B56;
}

.PostImg {
  width: 40rem;
}

.PostContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.PostReaction {
  width: 87%;
}

.iconsReaction {
  width: 25px;
  margin: 1rem;
}

.postDescription {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

}

.postTxt {
  margin-top: 1rem;
}

.postViewMore {
  color: #373B56B2;
}

.postViewMore:hover {
  cursor: pointer;
}

#Suggetions {
  border-left: 1px solid #373B5640;
  padding-left: 2rem;
  height: 100%;
  background-color: #ECEDF2;
  font-family: "Barlow", sans-serif;
}


.SuggetionsContent {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.SuggetionsCard {
  width: 100%;
  margin-top: 1rem;
  padding: 0px;
  margin-bottom: 1rem;
}

.SuggetionsText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
}

#ViewArtist {
  background-color: #ECEDF2;
}

#ViewArtistCol {
  display: flex;
  flex-direction: column;
}

#ViewArtistContent {
  color: #373B56;
  margin-left: 6.4rem;
  background-color: #ECEDF2;
}

.SuggetionsBar {
  margin: 0px;
  padding: 0px;
}

.ArtistBanner {
  width: 100%;
}

.ArtistPhoto {
  width: 20%;
  margin-top: -10%;
  margin-left: 8%;
}

.UserData {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#LocationTxt {
  font-family: Barlow, sans-serif;
  color: #373B5640;
}

#Location {
  width: 30px;
}

#BtnOptions {
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

#Block {
  width: 10%;
  height: 10%;
}

.BlockModalBody {
  background: #FFFFFF;
  border-radius: 20px;
}

.BlockModalBody article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  color: #4F5168;
  font-family: Barlow, sans-serif;
}

.BlockModalFooter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-family: Barlow, sans-serif;
}

.BlockModalFooter p {
  cursor: pointer;
  background-color: #A000FF;
  color: #FFFFFF;
  padding: 0.5rem 1.5rem;
  border-radius: 10px;
}

.BlockModalFooter span {
  color: #A000FF;
  cursor: pointer;
  border: 1px solid #A000FF;
  padding: 0.5rem 1.5rem;
  border-radius: 10px;
}

#msgBtn {
  color: #373B56;
  padding: 5px 15px;
  border-radius: 10px;
  border: #373B56 solid 1px;
}

#subBtn {
  font-family: Barlow, sans-serif;
  background-color: #A000FF;
  padding: 5px 15px;
  color: #ECEDF2;
  border-radius: 10px;
  box-shadow: 0px 4px 10px 0px #A000FF4F;
  cursor: pointer;
}

#blockBtn {
  font-family: Barlow, sans-serif;
  background-color: #EB4335;
  padding: 5px 15px;
  color: #ECEDF2;
  border-radius: 10px;
  box-shadow: 0px 4px 10px 0px #d34235;
  cursor: pointer;
}

.porfilUser {
  font-family: Barlow, sans-serif;
  color: #373B56;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1rem;
}

#Review {
  color: #373B5640;
}

.Nums {
  color: #373B56;
}

#Subs {
  color: #373B5640;
  padding-right: 0.5rem;
  border-right: 1px solid #373B5640;
  margin-right: 0.5rem;
}

#Rev {
  color: #373B5640;
  padding-right: 0.5rem;
  border-right: 1px solid #373B5640;
  margin-right: 0.5rem;
}

#atSign {
  color: #373B5640;
}

#NotSubscribed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#Navies ul {
  display: flex;
  justify-content: space-evenly;
  border-bottom: #373B5640 1px solid;
  cursor: pointer;
}

#Navies li {
  text-decoration: none;
  list-style: none;
  color: #373B56;
  font-family: Barlow, sans-serif;
}

#RoomBtn {
  color: #A000FF;
}

#Chats {
  background-color: #F9F9F9;
  height: 100vh;
}

.ChatsContainer {
  padding-left: 6.4rem;
  max-width: 100%;
}

.ChatsBar {
  height: 100vh;
  border-left: #373B5640 1px solid;
  border-right: #373B5640 1px solid;
}

.RoomMeServices {
  margin: 1rem;
  display: flex;
  width: 380px;
  padding: 2rem 0rem;
  border-radius: 8.45px;
  border: 0.84px solid #ECEDF2;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #FFFFFF;
}

.Premium {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#PremiumHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #373B5640;
}

#PremiumHeader div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#PremiumHeader svg {
  margin-left: 5px;
}

.RoomME {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 250px;
}

#AddDateModal {
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

#AddDate {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

#AddDate input {
  border: none;
  border-bottom: 1px solid #373B56;
  margin: 10px;
}

.Add {
  display: flex;
  justify-content: space-between;
}

.Add p {
  border: 1px solid #A000FF;
  border-radius: 5px;
  padding-left: 8px;
  padding-right: 8px;
  color: #A000FF;
  margin: 5px;
  cursor: pointer;
}

.Add span {
  background-color: #A000FF;
  border-radius: 5px;
  padding-left: 8px;
  padding-right: 8px;
  margin: 5px;
  color: #F9F9F9;
  cursor: pointer;
}

.where span {
  border: 1px solid #373B56;
  padding: 2px 10px;
  margin: 5px;
  cursor: pointer;
  border-radius: 10px;
}

#AddWhereModal div {
  margin: 10px;
}

#packModal {
  width: 800px;
}

#packPremium {
  width: 100%;
}

#BlockUser {
  display: flex;
  justify-content: center;
  color: #4F5168;
  height: 45vh;
  align-items: center;
  font-family: Barlow, sans-serif;
}

.ConfirmModals {
  height: 10rem;
  color: #4F5168;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Barlow, sans-serif;
}

.ConfirmModals article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 300px;
}